<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-searchbar placeholder="Buscar Pokemon" color="light" (ionChange)="buscarPokemon($event)">
  </ion-searchbar>


  <ion-item-sliding *ngFor="let pokemon of listaFiltrada">
    <ion-item color="light" (click)="abrirDadosPokemon(pokemon)">

      <ion-chip color="light" slot="start">
        <ion-label [color]="pokemon.types[0].type.name">{{pokemon.order}}</ion-label>
      </ion-chip>


      <ion-label>

        <div>

          <h2>{{pokemon.name}}</h2>
          <ion-badge [color]="tipo.type.name" *ngFor="let tipo of pokemon.types">{{tipo.type.name}}</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img [src]="pokemon.sprites.front_default">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>        
        <ion-button>
          <ion-button expand="block" color="tertiary" (click)="buscarPokemons(offset - limit,limit)">
           <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button> 
        </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div style="color: rgb(0, 0, 0)">
           Pagina{{paginaAtual}} de {{(totalPokemons / limit).toFixed(0)}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button expand="block" color="tertiary" (click)="buscarPokemons(offset + limit,limit)">
            <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>